<p>
  <strong>First:</strong>
  <%= @article.first %>
</p>

<p>
  <strong>Last:</strong>
  <%= @article.last %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.company %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.website %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.email %>
</p>
